//  ================================================================================================
//  ? TIP:  It is recommended to use this file for overriding bootstrap variables.
//  ================================================================================================

// $primary: #00cfe8;
$font-size-base: 0.9rem;
$table-cell-padding-y: 0.8rem;
$table-cell-padding-x: 0.5rem;