/alur
/node_modules
/public/hot
/public/data
/public/fonts
/public/storage
/storage/*.key
/vendor
.env
.env.*
!.env.example
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/vuexy-shell-scripts
supervisord.log
supervisord.pid